{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Studio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="importmap">
      {
        "imports": {
          "three": "{% static 'js/three/three.module.js' %}"
        }
      }
    </script>
  </head>
  <body>
    <div class="render"></div>
    <div class="render__loading">test testafsa</div>
  </body>
  <script type="module" src="{% static 'js/native/main.js' %}"></script>
</html>